<%# Страница с формой логина %>
<div class="container content-wrapper buffer-both">
  <h3 class="title-medium"><%= I18n.t('views.sessions.authorization') %></h3>

  <div class="column-1-2">
    <div class="form">
      <%# Рисуем форму, которая будет отправлена по адресу /sessions %>
      <%= form_tag session_path do %>
        <div class="form-field">
          <%= label_tag :email, I18n.t('views.sessions.user_name'), class: 'form-label' %>
          <%= text_field_tag :email, params[:email], class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= label_tag :password, I18n.t('views.sessions.password'), class: 'form-label' %>
          <%= password_field_tag :password, '', class: 'form-text-field' %>
        </div>

        <div class="form-action">
          <%= submit_tag I18n.t('views.sessions.log_in'), class: 'button button-dark button-small' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
